html {
    background-color: #000000;
}
body {
    font-family: "Verdana";
    margin: 1.5em auto;
    padding: 1.5em;
    background-color: white;
    color: #003333
    ;
    max-width: 35em;
    border: 0.75em solid #003333
    ;
    line-height: 1.5em;
}
p {
    margin: 1.5em 0;
}
h1 {
    background-color: #CCCCCC;
    color: #003333
    ;
    font-size: 200%;
    padding: 0.75em;
    margin: -0.75em -0.75em 0.75em -0.75em;
}
h2 {
    background-color: #CCCCCC;
    color: #003333
    ;
    font-size: 150%;
    padding: 1em;
    margin: -1em -1em 1em -1em;
}
h1 + h2 {
    margin-top: -2em;
    padding-top: 0;
}
